/*@import url(https://fonts.googleapis.com/css?family=Lobster+Two);*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/


body{
	background: white;
	text-align: center;
}


h1{
 	font-family: 'Open Sans', sans-serif;
 	font-size: 30px;
}
p{
	font-family: 'Lobster Two', cursive;
	font-size: 20px;
	color: blue;
    font-weight: bold;
}
.icon{
	display: inline-block;
	font-size: 80px;
	color: silver;
	text-shadow: -4px 4px 10px red;
}

.icon-color{
    color: skyblue;
    text-shadow: 2px 2px 5px gray;
}
.image{
    border: 3px dashed red;
    border-radius: 100px 0px 100px 100px;
    box-shadow: 4px 4px 10px black;
}

.link{
    display: inline-block;
    font-size: 40px;
    transition: 0.4s;
    margin: 30px  100px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    background:#fe466d;
    border-radius: 4px;
    padding: 10px;
    border: 2px solid gray;
}
.link:hover{
    color: white;
    background:#2ab497 ;
    /*font-size: 100px;*/
}
.input-text{
    height: 50px;
    width: 300px;
    font-size: 25px;
    text-transform: lowercase;
    outline: none;
    transition: .4s;
}
.input-text:focus{
    border: 9px solid red;
}











